* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7f7f7f;
  color: white;
  font-family: var(--font-geist-sans);
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: #4d4c4c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* need to get transparent logo and only show mothman face */

.site-title {
  font-size: 24px;
} /* want some spooky font for logo text */

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

/* buttons transparent background + white text */
.nav-button {
  padding: 8px 16px;
  background: transparent;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-button.signup {
  background-color: #c00d07;
  border: 2px solid #c00d07;
}
/* also tested #c20b05 */

.nav-button.signup:hover {
  background-color: #a00904;
  border-color: #a00904;
}

.main-content {
  padding: 24px;
}